body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  background-color: #A0C3D2;
  height: 100px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.description {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  color: #222;
}

.backgroundpic {
  height: 700px;
  background-image: url("IMG_6586.jpeg"); 
  background-size: auto 700px;
  background-repeat: no-repeat;
  background-position: top;
  width: 40%;
}

.intro {
  height: 700px;
  width: 60%;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #222;
  font-size: 30px;
  line-height: 1.6;
  background-color: #EAE0DA;
}

.introtext {
  padding: 0 0 0 30px;
}

.overlap {
  font-family: 'Yeseva One', cursive;
  color: white;
  transform: translate(150px, -200px);
}

#greeting {
  font-size: 40px;
  margin-bottom: 0;
}

#name {
  margin-bottom: 50px;
  margin-top: 0;
  font-size: 70px;
}

.quotation {
  width: 40%;
  text-align: left;
  height: auto;
}

.characteristics {
  width: 60%;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #222;
  line-height: 1.6;
  background-color: #F7F5EB;
}

blockquote {
  margin: 0 auto;
  color: white; 
  font-size: 45px;
  font-family: 'Yeseva One', cursive;
  line-height: 70px;
  background-color: #EAC7C7;
}

blockquote::before {
  content: "“";
  display: block;
  height: 15px;
  color: white;
  font-size: 150px;
  line-height: 1;
}

.quote {
  text-align: left;                         font-size: 85px;
  display: block;
  vertical-align: middle;
  padding: 0 30px 0 30px;
  line-height: 1.4;
}

.subheading {
  text-transform: uppercase;
  font-weight: bold;
  display: block-inline;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 50px;
}

.boldText {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.normalText {
  font-size: 20px;
}

.italicText {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 20px;
  margin: 0;
}